.bootbox-body {
	color: black;
    font-weight: initial;
}

.font_tip {
	font-size: x-small;
}

.date_middle_sign {
	margin-left: 30%;
    margin-top: 27%;
}

.color_red {
	color: red;
}

.hidden {
	display: none;
}

.menu {
	z-index: 1;
	position: relative;
	top: 13px;
	margin-left: 7px;
}

.header {
	z-index: 0;
	position: absolute;
	width: -webkit-fill-available;
	height: 60px;
	border: 1px #666 dashed;
	margin-top: 5px;
}

.content {
    z-index: 0;
    position: relative;
    /* border: 1px #666 dashed; */
    margin-top: 8%;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.footer {
	z-index: 0;
	border: 1px #666 dashed;
	margin-bottom: 5px;
	position: absolute;
	width: -webkit-fill-available;
}

a {
	text-decoration: none !important;
}

.line {
	border: 1px #666 dashed;
}

.upload_button {
	margin-top: 16%;
}

@media ( max-width : 768px) {
	.header {
		display: none;
	}
	
	.content {
		z-index: 0;
	    position: relative;
	    /* border: 1px #666 dashed; */
	    margin-top: 10%;
	    margin-bottom: 5px;
	    padding-left: 10px;
	    padding-right: 10px;
	}
	
	.footer {
		display: none;
	}
	
	.upload_button {
		margin-top: 24%;
	}
	
	div[id$='_info'] {
		display: none;
	}
	
	div[id$='_length'] {
		display: none;
	}
}

@media ( max-width : 568px) {
	.header {
		display: none;
	}
	
	.content {
		z-index: 0;
	    position: relative;
	    /* border: 1px #666 dashed; */
	    margin-top: 10%;
	    margin-bottom: 5px;
	    padding-left: 10px;
	    padding-right: 10px;
	}
	
	.footer {
		display: none;
	}
	
	.upload_button {
		margin-top: 24%;
	}
	
	div[id$='_info'] {
		display: none;
	}
	
	div[id$='_length'] {
		display: none;
	}
}